\.git
\.hg

\.DS_Store
\.project
bower_components
node_modules
npm-debug\.log*
phantomjsdriver\.log

# Build
coverage
tmp

# NPM
test
.eslint*
.istanbul*
.travis*


test/iife/
test/iife/*
test/tmp/
test/tmp/*

node_modules
node_modules/*
closure-compiler
closure-compiler/*
async-css.sublime-project
sftp-config.json
package-lock.json
min
min/*
.gitignore
.rpt2_cache
tmp
tmp/*
dist/$weak$.js
update.txt
update-wp.txt
Gruntfile-iife-old.js
